<div id="checkout-page" class="container">
    <div class="row">
        <%= form_for @order, :url => checkout_path do |f| %>
            <dl class=" field-padding  col-md-3 form-background">
                <dt><%= f.label :first_name, 'first name*' %></dt>
                <dd><%= f.text_field :first_name, :required => true %></dd> 

                <dt><%= f.label :last_name, 'last name*' %></dt>
                <dd><%= f.text_field :last_name, :required => true  %></dd>
                <dt><%= f.label :email_address, 'email*' %></dt>
                <dd><%= f.text_field :email_address, :required => true  %></dd>

                <dt><%= f.label :phone_number, 'phone number*' %></dt>
                <dd><%= f.text_field :phone_number, :required => true, :maxlength =>10  %></dd>
            </dl>
                <dl class="field-padding col-md-3  form-background">
                <dt><%= f.label :billing_address1, 'billing address*' %></dt>
                <dd><%= f.text_field :billing_address1, :required => true  %></dd>
                <dt><%= f.label :billing_address2, 'billing address 2 (optional)' %></dt>
                <dd><%= f.text_field :billing_address2 %></dd>
                <dt><%= f.label :billing_address3, 'city*' %></dt>
                <dd><%= f.text_field :billing_address3, :required => true  %></dd>
                <dt><%= f.label :billing_address4, 'state*' %></dt>
                <dd><%= f.text_field :billing_address4, :required => true  %></dd>
                <dt><%= f.label :billing_postcode, 'zip code*' %></dt>
                <dd><%= f.text_field :billing_postcode, :required => true  %></dd>
                <dt><%= f.label :billing_country_id, 'country*'%></dt>
                <dd><%= f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name, :include_blank => true, :required => true  %></dd>
                <dd>
            </dl>
          <div class=" field-padding col-md-3 form-background">  
            <div class="totals">
            subtotal
            <span>
                <%= number_to_currency @order.total_before_tax %>
            </span>
            </div>    
            <div class="totals">
            total
            <span>
                <%= number_to_currency @order.total %>
            </span>
            </div>
            <%= f.submit 'continue', :style => "border:none; height: 75px; background-color: #61dff0; color: white; font-family: 'Avenir'; margin-bottom: 15px;" %></dd>
            <% end %>

          </div>


    </div>
</div> 
